/* 
    Created on : 25-sep-2018, 11:08:55
    Author     : Joaquin
*/

body{
    background: blueviolet;
}

h1{
    text-align: center;
    color: cyan;
    font-size: 3em;
}

label{
    color: white;
    text-align: left;
    font-size: 1.5em;
}

div{
    color: maroon;
    text-align: left;
    font-size: 1.2em;
}

